* {
    font-family: Segoe UI;
}

body {
    background-color: #fadfad;
}

.motd {
  margin: 1rem 0 0 1rem;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: white;
  width: fit-content;
}

.motd h1 {
  font-size: 1.2rem;
  margin: 0;
}

.motd p {
  font-size: 0.95rem;
  margin: 0.4rem 0 0 0;
  opacity: 0.9;
}

#toolbar {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.toolbar-item {
  position: relative;
  cursor: grab;
  width: max-content;
}

.drag-handle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
  --icon-btn-size: 72px;
  --icon-glyph: 32px; 
  --icon-gap: 6px;
}

.icon {
    all: unset;
    width: var(--icon-btn-size);
    height: var(--icon-btn-size);
    /*padding: 0.5rem 1rem;*/
    padding: 8px;
    border-radius: 12px;
    background-color: #6ec007;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--icon-gap);
    color: white;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease;
}
.icon img {
  width: var(--icon-glyph);
  height: var(--icon-glyph);
  image-rendering: pixelated;
  display: block;
}

.icon-label {
  color: white;
  font-size: 0.8rem;
  line-height: 1;
}

.icon-active {
    background-color: #4e9200
}

.icon:hover {
  filter: brightness(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown {
    display: none;
    margin-top:0.5rem;
    flex-direction: column;
    gap: 0.3rem;
    /* transition come back to */
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.15s ease, transform 0.15s ease;
}

.dropdown.visible {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-item {
    cursor: pointer;
    margin-top: 0.5rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
    background-color: #f5eec7;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #666;
  font-size: 0.9rem;
}

#time-section {
  color: black;
}

#time-section time { 
  display: inline-block; min-width: 22ch;
}

#toolbar img {
  width: 64px;
  height: 64px;
  border-radius: 12px;
}

#accessibility {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #6ec007;
  border-radius: 12px;
}

#accessibility img {
  width: 32px;
  height: 32px;
}